* {
    box-sizing: border-box;
}

header {
    background: white;
    width: 100%;
    border-color: #777777;
   }


h1 {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 20px;
    width: 260px;
    position: relative;
    left: 240px;
    }

h2{
    position: relative;
    left: 20px;
}

body {
    margin-top: 0px;
    background-image: url("/Users/tracycollins/_Bootcamp/basic_portfolio/assets/images/subtle_grunge.png");
    
}

section {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-left: 240px;
    margin-right: 240px;
    background-color: white;
    padding: 20px

}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    

}

nav{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 240px;
    top: 50px;
}

img{
    float: left;
    margin: 10px;
}
